body{
    // background-color: #fff;
}
.Register{   
    background-color: #fff;
    height:100%;
    // 布局
    position: relative;
    .Register-from{
        position: relative;
         width:100%;
    }
    .User-knowledge{
        
        margin:20px;
    }
    .yanzheng{
        border:1px solid #ccc;
        border-radius: 7px;
        color:#D8DCDD;
        // 布局
        padding:10px;
        position: absolute;
        right:30px;
        top:90px;

    }
    .login{
        background-color: green;
        color:#fff;
        border-radius: 7px;
        width:90%;      
        display: inline-block;
        height:40px;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        margin-left: 20px;
    }
    
}
// 顶部导航字体样式
.am-navbar-title{
    font-size:18px;
}
